



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


@* 
@if(Model !=null && Model.Any())
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">

        done ✅
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>

}

else
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">

        done ✅
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
} *@



@if (TempData["Success"] != null)
{

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"] ✅
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        toastr.success('@TempData["Success"]','نجاح');
    </script>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"] ❌
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <script>
            toastr.error('@TempData["Error"]','خطاء');
        </script>
    </div>
}

@if (TempData["Add"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Add"] ❌
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <script>
            toastr.success('@TempData["Add"]','تم الاضافه');
        </script>
    </div>
}

@if (TempData["Update"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Update"] ❌
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <script>
            toastr.success('@TempData["Update"]','تم تحديث البيانات');
        </script>
    </div>
}

@if (TempData["Remove"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Remove"] ❌
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <script>
            toastr.error('@TempData["Remove"]','تم حذف البيانات');
        </script>
    </div>
}






